<!DOCTYPE html>
<html >
<head>  
<meta charset="UTF-8">  
<title>Tree Type Prediction</title>  
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'><link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'><link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'><link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'><link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">  </head>  
<body background="https://lh5.googleusercontent.com/proxy/4vbIAzfLtz2eDbQMOoU-AIu5sDST-dHmm9vaxN3VQyBjjH11o4VUWF4QEQfIO8oZ4a5Zy1lXDGSKWlIrDnokEATdPiNz4ho4beHMDhCPltozmdnc5Cac69cVH3WvIUJEF7M=s0-d">
<div class="login"> 
    <h1 style="text-align:center">Tree Type Prediction</h1> 
   
    <form action="{{ url_for('predict')}}"method="post"> 
    <h3 style="text-align:center;">sepal lenght(values must between 4-8)</h3> 
    <p style="text-align:center;"><input type="number" name="sepal_lenght" min="4" max= "8" required="required" /></p>  
    <h3 style="text-align:center;">sepal width</h3>        
    <p style="text-align:center;"><input type="number" name="sepal_width" min="2" max= "4.5"  required="required" /></p>  
   <h3 style="text-align:center;">petal length</h3> 
   <p style="text-align:center;"><input type="number" name="petal_length" min="1" max= "7"  required="required" /></p>  
   <h3 style="text-align:center;">petal width</h3> 
   <p style="text-align:center;"><input type="number" name="petal_width" min="0" max= "2.5" required="required" /></p>
  
  
   <h2 style="text-align:center;"></h2>         
   <p style="text-align:center;"><button type="submit" class="btn btn-primary btn-block btn-large">Predict Tree Type</button></p>  
  </form>   <h2 style="text-align:center;">{{ prediction_text }}</h2>  
</div>
</body>
</html>